@charset "utf-8";
//全局共用变量

$designWidth : 640;                   //设计稿原始尺寸
$global_color : #e4671c;              //主色调
$bgUrl : 640;
$bgSixeW : 446;                       //雪碧图宽
$bgSixeH : 373;                       //雪碧图高
