@charset "utf-8";
@import "_public";
@import "_function";
/**图片播放**/
#banner{
  position:relative;
  overflow: hidden;
}
#EIMS_C_swipe{
  ul{
    position: relative;
    overflow:hidden;
     li.EIMS_C_swipe_LI{
       display: table-cell;
       vertical-align: top;
       background-image:url("../images/loading_x.gif");
       background-color:#fff;
       background-repeat: no-repeat;
       background-position:center center;
       img{
         max-width: 100%;
         height: auto;
         vertical-align:top;
       }
     }
  }
 .swipenav {
   position: absolute;
   z-index: 100;
   bottom:px2rem(12);;
   left:0;
   right:0;
   text-align:center;
   span{
     margin-right:px2rem(12);
     cursor: pointer;
     width: px2rem(12);
     height: px2rem(12);
     border:1px solid #fff;
     border-radius:px2rem(12);
     -webkit-border-radius:px2rem(12);
     background:none;
     display: inline-block;
   }
   span.cur{
     background-color: #fff;
   }
 }
}
/**图片播放 end**/

/**首页导航**/
#nav{
  overflow:hidden;
  ul{
    margin:-1px 0 0 0;
    height:px2rem(744);
    position:relative;
    &:after{
      position: absolute;
      top:0;
      bottom:0;
      left:49.9%;
      content:'';
      display:block;
      border-left:1px solid #e9e9e9;
    }
    li{
      width:50%;
      height:px2rem(248);
      text-align:center;
      border-top:1px solid #e9e9e9;
      &:before{
        display: block;
        content: '';
        height:px2rem(85);
        width:px2rem(85);
        margin:px2rem(48) auto px2rem(10);
      }
      span{
        width:px2rem(140);
        height: px2rem(30);
        margin:0 auto;
        display:block;
        font-size:14px;
      }
    }
    li.about{
        background-image: url('../images/src/index_08.png?__spriter');
    }
    li.about.active{
      &:before {
        background-image: url('../images/src/index_08_hover.png?__spriter');
      }
    }
    li.case{
      &:before {
        background-image: url('../images/src/index_05.png?__spriter');
      }
    }
    li.case.active{
      &:before {
        background-image: url('../images/src/index_05_hover.png?__spriter');
      }
    }
    li.service{
      &:before {
        background-image: url('../images/src/index_12.png?__spriter');
      }
    }
    li.service.active{
      &:before {
        background-image: url('../images/src/index_12_hover.png?__spriter');
      }
    }
    li.news{
      &:before {
        background-image: url('../images/src/index_14.png?__spriter');
      }
    }
    li.news.active{
      &:before {
        background-image: url('../images/src/index_14_hover.png?__spriter');
      }
    }
    li.team{
      &:before {
        background-image: url('../images/src/index_19.png?__spriter');
      }
    }
    li.team.active {
      &:before {
        background-image: url('../images/src/index_19_hover.png?__spriter');
      }
    }
    li.contactus{
      &:before {
        background-image: url('../images/src/index_22.png?__spriter');
      }
    }
    li.contactus.active{
      &:before {
        background-image: url('../images/src/index_22_hover.png?__spriter');
      }
    }
    li:nth-child(odd){
      float:left;
    }
    li:nth-child(even){
      float:right;
    }
  }
}
/**首页导航 end**/